doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/public/css/style.css', type='text/css')
	body
		div#container
		div.scripts
			script(src='/public/js/lodash.min.js')
			script(src='/public/js/pixi.min.js')
			script(src='/public/js/pixi-particles.min.js')
			script(src='/public/js/keys.js')
			script(src='/public/js/helpers.js')
			script(src='/public/js/entity.js')
			script(src='/public/js/track.js')
			script(src='/public/js/effects/rain.js')
			script(src='/public/js/game.js')
			
