doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/css/style.css', type='text/css')
	body
		div#container
			h5=title
		div.scripts
			script(src='/public/js/pixi.min.js')
			script(src='/public/js/keys.js')
			script(src='/public/js/helpers.js')
			script(src='/public/js/entity.js')
			script(src='/public/js/track.js')
			script(src='/public/js/player.js')
			script(src='/public/js/test/translate.js')
			
